.toggle-button {
  button {
    padding: 5px;
    border-radius: 20px;
    font-size: 16px;
    background-color: coral;
    border: 2px solid lightcoral;

    &:focus {
      outline: none;
    }
  }
}
